%%-*- mode: erlang -*-
%% ex: ft=erlang

%{ct_extra_params, "-name myapp@localhost -ct_hooks cth_surefire"}.

%{plugins, [erlson_rebar_plugin, rebar_covertool]}.
%{cover_enabled, true}.
%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{cover_export_enabled, true}.
%{covertool_eunit, {".eunit/cover.coverdata", "eunit.coverage.xml"}}.
%{covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}.
